
<h2>Workouts</h2> 
<%# make this html pretty %>
<ul>
    <%@user.workouts.each do |workout|%>
    <li><a href="workouts/<%=workout.id%>"><%=workout.name%></a></li>
     <%end%> 
</ul> 

<a class="button" href="/workouts">Workouts</a>
<a class="button" href="/">Home</a>