
<div class="text-center">
    <div class="text-xl">
        <h2 class="font-bold text-3xl pt-5">Create New Workout</h2>
        <br>
        <%# do i want a dropdown bar with basic templates? so lifting will have weights, running will have time and distance, then a dropdown selection for user to create his own? can i have user create his own field in case there is something i missed? %>
        <%# "add" button to add routines to workout %>
        Please name your workout:
        <br>
        <form action="/workouts" method="post">
            Workout Name: <input type="text" name="workout[name]" placeholder="Name your workout">
            <input class="content-center pb-2 bg-gray-700 hover:border-gray-800 hover:bg-white hover:text-gray-700 text-white font-bold py-2 px-4 rounded" type="submit" value="Add">
        </form>
    </div>
</div>
  
<!--
<div class="flex justify-center p-6">
    <a href="/workouts" class="content-center pb-2 bg-gray-700 hover:border-gray-800 hover:bg-white hover:text-gray-700 text-white font-bold py-2 px-4 rounded" >Add New Workout</a>
</div>
-->
